/* ::::: http://www.unclema.com/skin/default/style/style.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; font-size: 100%; vertical-align: baseline; }
html { line-height: 1; }
q::before, q::after, blockquote::before, blockquote::after { content: none; }
a img { border: medium none; }
body { background: transparent url('bg.png') repeat scroll 0% 0%; }
.w990 { width: 990px; margin: 0px auto; }
.relative { position: relative; }
.absolute { position: absolute; }
.header { height: 238px; background: transparent url('header_bg.png') no-repeat scroll left top; }
.header .logo { right: 60px; top: 6px; }
.header .nav a { bottom: 60px; transition: all 0.25s ease-out 0.15s; }
.header .nav a:hover { transform: translateY(10px); }
.header .nav a.nav_btn1 { left: 50px; }
.header .nav a.nav_btn2 { left: 200px; }
.header .nav a.nav_btn3 { left: 360px; }
.header .nav a.nav_btn4 { left: 520px; }
.telbox { position: fixed; top: 40px; right: 50%; margin-right: 490px; }
.subtop { padding-bottom: 10px; height: 120px; }
.subtop .subtop_box { width: 990px; height: 190px; background: transparent url('sub_top.png') no-repeat scroll left top; top: -53px; left: 1px; }
.subtop .subtop_box .snav_box { width: 910px; margin: 0px auto; padding-top: 50px; }
.subtop .subtop_box .snav_box a { display: inline-block; width: 122px; height: 50px; margin: 10px 8px 0px; transition: all 0.5s ease-out 0.2s; }
.subtop .subtop_box .snav_box a.snav_all { background: transparent url('snav_all.png') no-repeat scroll 0% 0%; }
.subtop .subtop_box .snav_box a.snav_1 { background: transparent url('snav_1.png') no-repeat scroll 0% 0%; }
.subtop .subtop_box .snav_box a.snav_2 { background: transparent url('snav_2.png') no-repeat scroll 0% 0%; }
.subtop .subtop_box .snav_box a.snav_3 { background: transparent url('snav_3.png') no-repeat scroll 0% 0%; }
.subtop .subtop_box .snav_box a.snav_4 { background: transparent url('snav_4.png') no-repeat scroll 0% 0%; }
.subtop .subtop_box .snav_box a.snav_5 { background: transparent url('snav_5.png') no-repeat scroll 0% 0%; }
.subtop .subtop_box .snav_box a.snav_6 { background: transparent url('snav_6.png') no-repeat scroll 0% 0%; }
.subtop .subtop_box .snav_box a.snav_7 { background: transparent url('snav_7.png') no-repeat scroll 0% 0%; }
.subtop .subtop_box .snav_box a.snav_8 { background: transparent url('snav_8.png') no-repeat scroll 0% 0%; }
.subtop .subtop_box .snav_box a.snav_9 { background: transparent url('snav_9.png') no-repeat scroll 0% 0%; }
.subtop .subtop_box .snav_box a.snav_6 { background: transparent url('snav_6.png') no-repeat scroll 0% 0%; }
.subtop .subtop_box .snav_box a:hover { transform: translateX(4px); }
.list_box { padding-bottom: 10px; z-index: 999; background: transparent url('sub_bg.png') repeat-y scroll 1px center; line-height: 1.8em; font-family: "微软雅黑","Arial","宋体"; }
.list_box .list_cp { width: 920px; margin: 0px auto; text-align: justify; }
.list_box .list_cp .cp_box { display: inline-block; width: 214px; height: 254px; margin-right: 10px; overflow: hidden; background: transparent url('chupin_box_bg.png') no-repeat scroll left top; text-align: center; margin-bottom: 20px; }
.list_box .list_cp .cp_box span { display: inline-block; width: 177px; height: 192px; overflow: hidden; margin-top: 20px; border-radius: 10px; }
.list_box .list_cp .cp_box p { padding: 4px 0px; margin-top: -12px; }
.list_box .list_cp .cp_box p a { font-size: 12px; color: rgb(86, 67, 55); text-decoration: none; padding: 0px 8px; }
.sub_footer { height: 367px; background: transparent url('sub_footer.png') no-repeat scroll 1px top; }
.sub_footer .pager { text-align: center; clear: both; }
.sub_footer .pager .pagerbox { display: inline-block; width: 700px; margin-top: 40px; }
.sub_footer .pager .pagerbox .pagenum { display: inline-block; vertical-align: middle; margin: -52px 16px 0px; }
.sub_footer .pager .pagerbox .pagenum a { margin: 0px 8px; text-decoration: none; color: rgb(138, 64, 24); font-size: 16px; font-weight: bold; }
.sub_footer .pager .pagerbox .pagenum a:hover { color: rgb(3, 162, 168); }
.sub_footer .pager .pagerbox a { transition: all 0.5s ease-out 0.2s; }
.sub_footer .pager .pagerbox a.first { display: inline-block; width: 59px; height: 52px; background: transparent url('pregroup.png') no-repeat scroll 0% 0%; }
.sub_footer .pager .pagerbox a.prepage { display: inline-block; width: 59px; height: 52px; background: transparent url('prepage.png') no-repeat scroll 0% 0%; }
.sub_footer .pager .pagerbox a.nextpage { display: inline-block; width: 59px; height: 52px; background: transparent url('nextpage.png') no-repeat scroll 0% 0%; }
.sub_footer .pager .pagerbox a.last { display: inline-block; width: 59px; height: 52px; background: transparent url('nextgroup.png') no-repeat scroll 0% 0%; }
.lxmk_btn, .scmk_btn, .zdmk_btn { display: block; width: 175px; height: 60px; }
.lxmk_btn { top: 90px; left: 240px; }
.scmk_btn { top: 90px; left: 500px; }
.zdmk_btn { top: 90px; left: 780px; }
.sub_footer .scmk_btn, .sub_footer .lxmk_btn, .sub_footer .zdmk_btn { top: 190px; }
.footer p, .sub_footer p { display: none; }
